.loginHeader{
    margin-top: 24px;
    h1 {font-size: 2em;
        font-weight: bold;
        margin-bottom: 16px;}
        p {font-size: 1em;}
        
}

.loginForm{margin: 0 auto;}

.formitem{margin-bottom: 16px;}

.submitBtn {margin: 0 auto;
            padding: 30px 0;
            font-size: 3em;}

            .sublink {margin: 0 auto;
                      text-align: center;}